/* Configurações Gerais */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
}

.container-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
  color: white;
}

.titulo-principal {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.texto-instrucao {
  color: #ccc;
}

.texto-aguardando {
  color: #555;
}


.input-numero {
  padding: 8px 12px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 2px solid #646cff;
  background-color: #242424;
  color: white;
  text-align: center;
  outline: none;
  width: 200px; 
  transition: border-color 0.3s;
  margin-top: 15px;
}

.input-numero:focus {
  border-color: #00d1ff;
}

.card-tabuada {
  background-color: #242424;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
  min-width: 300px;
  border: 1px solid #646cff;
  animation: subirSuave 0.5s ease-out;
  margin-top: 20px;
}

.titulo-tabuada {
  color: #646cff;
  text-align: center;
  margin-bottom: 20px !important;
  font-size: 1.3rem;
}

.item-tabuada {
  font-size: 1.2rem;
  margin: 4px 0;
  border-bottom: 1px solid #333;
  padding-bottom: 2px;
  display: flex;
  justify-content: center; 
  gap: 8px;
}

.resultado-destaque {
  color: #00d1ff;
}

@keyframes subirSuave {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}